.activity-plan-manage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    :global {
        .activity-plan-con{
            flex:1;
            overflow-y: auto;
        }
    }
}