.activity-manage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    :global {
        .operation {
            .arco-icon {
                color: #fff;
                font-size: 18px;
                cursor: pointer;
                margin-left: 12px;

                &:nth-child(1) {
                    margin-left: 0;
                }

                &:hover {
                    color: #5475ff;
                }
            }
        }

        .activity-manage-con-warp {
            flex: 1;
            overflow: hidden;
            margin: 24px 0 20px;
            background-image: linear-gradient(180deg, rgba(15, 24, 31, 0.15) 0%, rgba(15, 51, 77, .5) 100%);
            border: 1px solid rgba(38, 124, 186, 1);
            padding: 23px 29px;
            display: flex;
            flex-direction: column;
        }

        .activity-con {
            display: flex;
            flex: 1;
            overflow-y: auto;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(255, 255, 255, .9);
            flex-wrap: wrap;
            align-content: flex-start;

            .activity-item {
                width: 100%;
                padding: 14px 20px;
                display: flex;
                align-items: center;
                margin-top: 20px;
                background: url(~@/assets/img/activity-manage/card.png) no-repeat;
                background-size: 100% 100%;

                &:hover {
                    background: url(~@/assets/img/activity-manage/card-hover.png) no-repeat;
                    background-size: 100% 100%;
                }

                .activity-thumbnail {
                    width: 290px;
                    height: 167px;
                    margin-right: 40px;
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: '';
                        background: url(~@/assets/img/activity-manage/pic-border.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    img {
                        width: 100%;
                        height: 167px;
                        object-fit: cover;
                    }
                }

                .activity-right {
                    flex: 1;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;

                    .arco-btn {
                        font-size: 14px;
                    }

                    .info-btn {
                        background: url(~@/assets/img/activity-manage/info-btn.png) no-repeat;
                        background-size: 100% 100%;

                        &:hover {
                            background: url(~@/assets/img/activity-manage/info-btn-hover.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }

                    .copy-btn {
                        background: url(~@/assets/img/activity-manage/copy-btn.png) no-repeat;
                        background-size: 100% 100%;

                        &:hover {
                            background: url(~@/assets/img/activity-manage/copy-btn-hover.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }

                    .edit-btn {
                        background: url(~@/assets/img/activity-manage/edit-btn.png) no-repeat;
                        background-size: 100% 100%;

                        &:hover {
                            background: url(~@/assets/img/activity-manage/edit-btn-hover.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }

                    .activity-del {
                        position: absolute;
                        top: 15px;
                        right: 0;
                        background: url(~@/assets/img/activity-manage/del-btn.png) no-repeat;
                        background-size: 100% 100%;
                        border-radius: 3px;
                        color: #e0b3b4;

                        &:hover {
                            background: url(~@/assets/img/activity-manage/del-btn-hover.png) no-repeat;
                            background-size: 100% 100%;
                            color: #fff;

                            span {
                                color: #fff;
                            }
                        }

                        span {
                            color: #e0b3b4;
                        }
                    }

                    .activity-title {
                        width: 490px;
                        height: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: YouSheBiaoTiHei;
                        font-size: 20px;
                        color: #FFFFFF;
                        margin-bottom: 20px;
                        background: url(~@/assets/img/activity-manage/title.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    .activity-item-con {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .activity-info-wrap {
                        display: flex;

                        .activity-info-list {
                            width: 280px;
                            margin-right: 30px;
                        }

                        .activity-info-li {
                            height: 30px;
                            padding: 0 10px;
                            display: flex;
                            align-items: center;
                            margin-top: 7px;
                            background: url(~@/assets/img/activity-manage/info-bg.png) no-repeat;
                            background-size: 100% 100%;
                            overflow: hidden;

                            .info-label {
                                display: flex;
                                align-items: center;
                                margin-right: 12px;

                                i {
                                    color: #08F0FF;
                                    margin-right: 8px;
                                }
                            }

                            .info-value {
                                color: #08F0FF;
                                flex: 1;
                                font-family: PingFangSC-Regular;

                                .status {
                                    display: flex;
                                    align-items: center;
                                    color: #1DFF7A;

                                    img {
                                        height: 16px;
                                        margin-right: 4px;
                                    }

                                    &.noStart {
                                        color: #F9B83C;
                                    }

                                    &.end {
                                        color: #B0B0B0;
                                    }
                                }

                                .level {
                                    width: 30px;
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                    border-radius: 3px;
                                    font-family: PingFangSC-Regular;
                                    font-size: 14px;

                                    &.height {
                                        background-image: linear-gradient(180deg, rgba(50, 0, 0, 0.28) 1%, rgba(81, 0, 0, 0.28) 100%);
                                        box-shadow: inset 0 1px 5px 0 #FF3030;
                                        color: #FF5151;
                                    }

                                    &.middle {
                                        background-image: linear-gradient(180deg, rgba(54, 43, 27, 0.28) 1%, rgba(52, 31, 0, 0.28) 100%);
                                        box-shadow: inset 0 1px 5px 0 #FFAF3E;
                                        color: #F9B73B;
                                    }

                                    &.low {
                                        background-image: linear-gradient(180deg, rgba(72, 72, 72, 0.28) 3%, rgba(93, 93, 93, 0.28) 100%);
                                        box-shadow: inset 0 1px 5px 0 #919191;
                                        color: #E2E2E2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.activity-manage-modal {
    width: 785px;

    :global {
        .big-title {
            font-family: PingFangSC-Regular;
            height: 32px;
            background: url(~@/assets/img/activity-manage/big-title.png) no-repeat;
            background-size: 100% 100%;
            line-height: 32px;
            padding-left: 35px;
            font-size: 14px;
            color: #fff;
            margin-bottom: 20px;
        }

        .small-title {
            font-family: PingFangSC-Regular;
            height: 32px;
            background: url(~@/assets/img/activity-manage/small-title.png) no-repeat;
            background-size: 100% 100%;
            line-height: 32px;
            padding-left: 24px;
            font-size: 14px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .add-form {
            position: relative;
            .arco-form-label-item label {
                display: flex;
                align-items: center;
                color: #add5f2;
                font-size: 14px;
            }

            .organizer-wrap {
                width: 100%;
            }

            .organizer-header {
                display: flex;
                align-items: center;
                height: 36px;
                width: 100%;
                background-image: linear-gradient(180deg, #022C4C 0%, #0A4872 100%);
                margin-top: 6px;
                border-bottom: 1px solid rgba(16, 103, 164, 1);

                .organizer-header-th {
                    padding-left: 10px;
                    font-family: PingFangSC-Semibold;
                    font-size: 14px;
                    color: #9BDFFF;
                    font-weight: 600;

                    &:nth-child(1),
                    &:nth-child(4) {
                        width: 130px;
                    }

                    &:nth-child(2) {
                        width: 110px;
                    }

                    &:nth-child(3) {
                        flex: 1;
                    }

                    &:nth-child(5) {
                        width: 145px;
                    }

                    &:nth-child(6) {
                        width: 50px;
                    }
                }
            }

            .organizer-body-wrap {
                border: 1px solid rgba(16, 103, 164, 1);
                border-top: 0;
            }

            .organizer-body {
                width: 100%;

                .arco-form-item-control-children {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 40px;
                }

                .organizer-td {
                    height: 36px;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    position: relative;

                    .arco-form-message {
                        position: absolute;
                        z-index: 100;
                        min-height: 12px;
                        line-height: 12px;
                        bottom: -9px;
                        font-size: 12px;
                    }

                    &:nth-child(1),
                    &:nth-child(4) {
                        width: 130px;
                    }

                    &:nth-child(2) {
                        width: 110px;
                    }

                    &:nth-child(3) {
                        flex: 1;
                    }

                    &:nth-child(5) {
                        width: 145px;
                    }

                    &:nth-child(6) {
                        width: 50px;
                        justify-content: center;

                        .arco-icon {
                            cursor: pointer;
                            font-size: 18px;
                            color: #08F0FF;
                        }
                    }
                }
            }
        }

        .activity-upload {
            .upload-desc {
                width: 150px;
                margin-top: 6px;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: rgba(241, 247, 255, 0.70);
                line-height: 20px;
                word-break: break-all;
            }

            .arco-upload-list-item-picture {
                width: 133px;
                height: 133px;
                background-color: transparent;
                border: 1px dashed rgba(2, 184, 255, 1);

                &:hover {
                    border: 1px dashed rgba(255, 179, 4, 1);
                }
            }

            .arco-upload-trigger-picture {
                width: 133px;
                height: 133px;
                border: 1px dashed rgba(2, 184, 255, 1);
                box-shadow: inset 0px 1px 17px 0px rgba(0, 115, 159, 1);
                border-radius: 1.36px;
                background-color: transparent;
                position: relative;

                &:hover {
                    background-image: linear-gradient(180deg, rgba(49, 36, 5, 0.85) 0%, rgba(35, 28, 5, 0.85) 100%);
                    box-shadow: inset 0px 0px 10px 2px rgba(255, 179, 4, 1);
                    border: 1px dashed rgba(255, 179, 4, 1);

                    .fengmian {
                        display: none;
                    }
                }

                .arco-upload-trigger-picture-text {
                    color: #FFFFFF;
                    font-family: PingFangSC-Regular;
                    font-size: 14px;

                    .arco-icon {
                        font-weight: bolder;
                        font-size: 20px;
                    }
                }

                .fengmian {
                    position: absolute;
                    bottom: 0;
                    background: rgba(25, 72, 110, 0.75);
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                    width: 100%;
                }
            }
        }

        .activity-manage-info-con {
            .pic {
                height: 133px;
                width: 133px;
                border-radius: 2px;
                position: relative;

                img {
                    width: 133px;
                    height: 133px;
                }

                .fengmian {
                    background: rgba(4, 33, 57, 0.60);
                    height: 24px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }

            .item-li {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #ffffff;
                line-height: 22px;
                margin-bottom: 22px;

                .item-label {
                    color: #B0D8F5;
                }

                .organizer-header {
                    display: flex;
                    align-items: center;
                    height: 36px;
                    width: 100%;
                    background-image: linear-gradient(180deg, #022C4C 0%, #0A4872 100%);
                    margin-top: 6px;
                    border-bottom: 1px solid rgba(16, 103, 164, 1);

                    .organizer-header-th {
                        padding-left: 10px;
                        font-family: PingFangSC-Semibold;
                        font-size: 14px;
                        color: #9BDFFF;
                        font-weight: 600;

                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 130px;
                        }

                        &:nth-child(2) {
                            width: 110px;
                        }

                        &:nth-child(3) {
                            flex: 1;
                        }

                        &:nth-child(5) {
                            width: 145px;
                        }
                    }
                }


                .organizer-body {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    border: 1px solid rgba(16, 103, 164, 1);
                    border-top: 0;

                    .organizer-td {
                        height: 36px;
                        display: flex;
                        align-items: center;
                        padding-left: 10px;

                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 130px;
                        }

                        &:nth-child(2) {
                            width: 110px;
                        }

                        &:nth-child(3) {
                            flex: 1;
                        }

                        &:nth-child(5) {
                            width: 145px;
                        }
                    }
                }
            }
        }
    }
}